@media #{$small-only} { 
    .responsive-button {
        @include button($button-sml, $primary-color, 0px, false, false, false); 
    }
}

@media #{$medium-up} {
    .responsive-button {
        @include button($button-med, $primary-color, 0px, false, false, false); 
    }   
}