<div id="newPage" class="reveal-modal" data-reveal>
  <form class="ajax" action="/save/" method="post" onsubmit="return app.savePage(this {% if page.id %}, {{page.id}} {% endif %})">
    <label>Title:<input type="text" name="title" value="{{page.title}}"></label>
    <label>Short name (used in URLs)<input type="text" name="shortName" value="{{page.shortName}}"></label>
    <label>Weight (for ordering menu items)<input type="text" name="weight" value="{{page.weight}}"></label>
    <label>Don't show in menu <input type="checkbox" name="skipMenu" {% if page.skipMenu %} checked {% endif %}></label>
    <label>Template: 
      <select name="templateId">
        <option value=''>--</option>
        {% for template in templates %}
        <option value='{{ template.id }}' {% if template.id == page.templateId %} selected {% endif %}>{{ template.title }}</option>
        {% endfor %}
      </select>
    </label>
    <label>Parent:
      <select name="parentId">
        <option value=''>--</option>
        {% for parent in parents %}
        <option value='{{ parent.id }}' {% if parent.id == page.parentId %} selected {% endif %}>{{ parent.title }}</option>
        {% endfor %}
      </select>
    
    </label>
    <textarea class="editable" name="content">{{ page.content|safe }}</textarea>
    <button type="submit">Save</button>
    <input type="hidden" name="_csrf" value="{{ csrf_token }}">
  </form>
  <a class="close-reveal-modal">&#215;</a>
</div>