{% extends 'layout.html' %}


{% block head %}
<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">

<script src="/public/components/jquery/dist/jquery.js"></script>
<script src="/public/vendor/foundation/js/foundation.js"></script>
<script src="/public/components/modernizr/modernizr.js"></script>

{% if user %}
<!-- Editor -->
<link rel="stylesheet" href="/public/components/fontawesome/css/font-awesome.min.css" >
<link rel="stylesheet" href="/public/components/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="/public/components/codemirror/theme/blackboard.css">
<link rel="stylesheet" href="/public/components/codemirror/theme/monokai.css">
<link rel="stylesheet" href="/public/components/summernote-foundation/summernote.css">
<script src="/public/components/summernote-foundation/summernote.min.js"></script>

{% endif %}



<script src="/javascripts/app.js"></script>

{% endblock %}

{% block title %}

{{ title }}

{% if user %}
<a href="#" onclick="app.getEditPage('{{ page.id }}')"><i class="fa fa-pencil"></i></a>
<a href="#" onclick="app.removePage('{{ page.id }}')"><i class="fa fa-remove"></i></a>
{% endif %}

{% endblock %}

{% block getintouch %}
{% endblock %}
