{% extends 'base.html' %}

{% block main %}
    <div class="large-12 columns">
      <form id="contactForm" data-abide action="/contact" method="post">
        <div class="row collapse">
          <div class="large-2 columns small-3">
            <span class="prefix">Name</span>
          </div>
          <div class="large-4 small-6 end columns">
            <input type="text" name="name" placeholder="Enter your first and last name" class="" required>
            <small class="error">Name is required</small>      
          </div>
        </div>      
        <div class="row collapse">
          <div class="large-2 columns small-3">
            <span class="prefix">Email</span>
          </div>
          <div class="large-4 small-6 end columns">
            <input type="text" name="email" placeholder="Enter your email" class="" required pattern="[\w\._-]+\@[\w\._-]+\.[\w\._-]+">
            <small class="error">Email is required</small>      
          </div>
        </div>  
        <div class="row collapse">
          <div class="large-2 columns small-3">
            <span class="prefix">Phone number</span>
          </div>
          <div class="large-4 small-6 end columns">
            <input type="text" name="phone" placeholder="Enter your phone number" class="" pattern="[\d\.\- ]+">
            <small class="error">Enter a valid phone number</small> 
          </div>
        </div>  
        <div class="row collapse">
          <div class="large-2 columns small-3">
            <span class="prefix">Subject</span>
          </div>
          <div class="large-4 small-6 end columns">
            <input type="text" name="subject" placeholder="Enter your phone number" class="">
            <small class="error">Subject is required</small> 
          </div>
        </div>  
        <div class="row collapse">
          <div class="large-6 small-9">
            <label>Message
              <textarea name="message"></textarea>
            </label>
          </div>
        </div>  
        <div class="row collapse">
          <div class="large-1 small-1 large-offset-5 small-offset-8">
            <button class="small radius" type="submit">Send</button>
          </div>
        </div> 
        <input type="hidden" name="_csrf" value="{{ csrf_token }}">
      </form>
    </div>  

<script>
  $("#contactForm").submit(function(e) {
    e.preventDefault();
    var form = $(this);
    $.post('/contact/', form.serializeArray()).done(function(){
      app.showModalAlert('', 'Message sent!', 'success');
    }).fail(function(){
      app.showModalAlert('', 'Failed to send message', 'error');
    });
  });
</script>
    
{% endblock %}