<html>
  <head>
    <title>Error</title>
    <style>{{style}}</style>
  </head>
  <body>
    <div id="wrapper">
      <h1>{{error.status}}</h1>
      <h2><em>{{statusCode}}</em> {{error.message}}</h2>
      <ul id="stacktrace">{{error.stack}}</ul>
    </div>
  </body>
</html>