{% extends 'base.html' %}


{% block content %}
{{ page.content|safe }}
{% endblock %}

{% block thumbnails %}
<div class="large-4 columns">
  <ul class="small-block-grid-3">
    <li><a href="#"><img src="http://placehold.it/120x120"/></a></li>
    <li><a href="#"><img src="http://placehold.it/120x120"/></a></li>
    <li><a href="#"><img src="http://placehold.it/120x120"/></a></li>
    <li><a href="#"><img src="http://placehold.it/120x120"/></a></li>
    <li><a href="#"><img src="http://placehold.it/120x120"/></a></li>
    <li><a href="#"><img src="http://placehold.it/120x120"/></a></li>
  </ul>
</div>  
{% endblock %}