<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ title }}</title>

  {% block head %}
  {% endblock %}
</head>
<body>
  {% block header %}
  <div class="row">
    <div class="large-12 collapse no-padding columns">
      {% block menu %}
      <ul class="button-group">
        {% for page in pages %}
        <li>
          <a href="/{{page.shortName}}/" class="responsive-button">{{page.title}}</a>
<!--          <a href="/page/{{page.id}}/" class="button" data-dropdown="submenu-{{page.id}}" aria-controls="submenu-{{page.id}}" aria-expanded="false">{{page.title}}</a>-->
          {#
          {% if page.Children %}
          <ul id="submenu-{{page.id}}" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
            {% for child in page.Children %}
            <li><a href="#">{{ child.title }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
          #}
        </li>
        {% endfor %}
        {% if user %}
        <li><a href="#" onclick='app.getNewPage()'><i class="fa fa-plus"></i></a></li>
        {% endif %}
      </ul>
      {% endblock %}
      {% block banner %}
      <p><img src="/images/nodejs_logo_green.jpg"></p>
      {% endblock %}
    </div>
  </div>
  {% endblock %}

  <div class="row">
    <div class="large-12 collapse columns">
      <h4>{% block title %}{{ title }}{% endblock %}</h4>
    </div>
  </div>
  <div class="row">
    {% block main %}
    <div class="large-8 columns">
      {% block content %} No content {% endblock %}
    </div>


    {% block thumbnails %}
    <div class="large-4 columns">
      <ul class="small-block-grid-3">
        <li><a href="#"><img src="http://placehold.it/120x120"/></a></li>
        <li><a href="#"><img src="http://placehold.it/120x120"/></a></li>
        <li><a href="#"><img src="http://placehold.it/120x120"/></a></li>
        <li><a href="#"><img src="http://placehold.it/120x120"/></a></li>
        <li><a href="#"><img src="http://placehold.it/120x120"/></a></li>
        <li><a href="#"><img src="http://placehold.it/120x120"/></a></li>
      </ul>
    </div>
    {% endblock %}
    {% endblock %}
  </div>

  {% block getintouch %}
  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <h4>Get in touch!</h4>
        <div class="row">
          <div class="large-9 columns">
            <p>We'd love to hear from you ...</p>
          </div>
          <div class="large-3 columns">
            <a href="#" class="radius button right">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

  {% block footer %}
  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>© Copyright MarkSoft.org - Mark Baas</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
            <li><a href="#">Link 5</a></li>
            <li><a href="#">Link 6</a></li>
            <li><a href="#">Link 7</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  {% endblock %}

  {% block edit %}
  {% endblock %}

  <script>
  $(document).foundation();
  </script>
</body>
</html>
