{% extends 'base.html' %}
{% block main %}

<form data-abide action="/login" method="post">
  {% if failed %}
  <div class="row collapse">
    <div class="large-6 columns large-offset-2">
      <div data-alert class="alert-box alert">
        Username or password incorrect.
        <a href="#" class="close">&times;</a>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="row collapse">
    <div class="large-2 columns large-offset-2 small-offset-1 small-3">
      <span class="prefix">Username</span>
    </div>
    <div class="large-4 small-6 end columns">
        <input type="text" name="username" placeholder="Enter your username ..." class="" required>
        <small class="error">Entry is required</small>      
    </div>
  </div>
  <div class="row collapse">
    <div class="large-2 columns large-offset-2  small-offset-1 small-3">
      <span class="prefix">Password</span>
    </div>
    <div class="large-4 small-6 end columns">
        <input type="password" name="password" placeholder="Enter your username ..." class="" required>
        <small class="error">Entry is required</small>      
    </div>
  </div>
  <button class="large-offset-2 small-offset-1" type="submit">Submit</button>
  <input type="hidden" name="_csrf" value="{{ csrf_token }}">
</form>
{% endblock %}