{% extends 'base.html' %}

{% block main %}
    <div class="large-12 columns">
        {% block content %} {{ page.content|safe }} {% endblock %}

        {% block thumbnails %}
        <ul class="large-block-grid-3">
          {% for child in page.Children %}
            <li>
              <ul class="large-block-grid-1 small-block-grid-2">
                <li>
                  <a href="/{{ child.shortName }}/">
                    <img src="http://placehold.it/300x300"/>
                    {{ child.title }}
                  </a>
                </li>
                <li>
                  {{ child.content|safe|substr(100) }} <a href="/{{ child.shortName }}/">More ...</a>
                </li>
              </ul>
            </li>
          {% endfor %}
        </ul>
        {% endblock %}
    </div>  
    
{% endblock %}