{% extends 'base.html' %}

    {% block main %}
    <div class="large-10 columns">
      {% block content %} {{ page.content|safe }} {% endblock %}
      
      {% block thumbnails %}
      <ul class="large-block-grid-5 small-block-grid-3">
        {% for child in page.Children %}
          <li>
            <a href="/{{ child.shortName }}/">
              <img src="http://placehold.it/300x300"/>
            </a>
          </li>
        {% endfor %}
      </ul>
      {% endblock %}
    </div>
    
    
    {% block thumbnails %}
    <div class="large-2 columns">
      <ul class="large-block-grid-1">
        {% for child in page.Children %}
        <li><a href="/product/{{child.shortName}}/">{{child.title}}</a></li>
        {% endfor %}
      </ul>
    </div>  
    {% endblock %}
    {% endblock %}
